a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    flood-color: blueviolet;
}

h1{
    text-align: center;
    font-size: 90px;
    font-family: 'Algerian', sans-serif;
    text-shadow: darkgreen;
    color:red;
}
body {
    background: url('bg3.jpeg') no-repeat center center fixed;
    background-size: cover;
   

   
}
.grand-et-gras {
    font-size: 50px; 
    font-weight: bold; 
    text-shadow: none; 
    color:white;
    font-family: 'ADLaM Display', sans-serif;
    animation: cycleColor 5s linear infinite;

}  
@keyframes cycleColor {
    0% { color: red; }
    25% { color: blue; }
    50% { color: green; }
    75% { color: orange; }
    100% { color: red; }
  }  
